@import url('https://fonts.googleapis.com/css?family=Roboto:400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
}


body{
    background-image: url("/assets/fundo.jpeg");
}

.apresentacao{
    display: flex; /*Tranforma como se fosse em flexbox*/
    justify-content: center;/*justifica os conteudos*/
    align-items: center;
}

.foto img{
    width: 600px;
}


.assinatura{
    position: absolute;
    right: 0px;
    top: 5px;
}
