{% extends "layout.njk" %}

{% block content %}

<div class="apresentacao">
    <div class="foto">
        <img src="/assets/gabriella.png" alt="">
    </div>

    <div class="assinatura">
        <img src="/assets/assinatura.png" alt="">
    </div>

    {# <div class="texto">
        <h3>Maquiadora <br> & <br> Designer de sombrancelhas</h3>
    </div> #}
</div>

{% endblock content %}