<!DOCTYPE html>
<html>

    <head>
        
        {% block head%}
            <title>Gabriella Maas Makeup</title>
        {% endblock %}

        
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" href="/modulo02/images/favicon.ico" type="image/x-icon" />
    </head>

    <body>

        {% block content %}{% endblock %}
        <script src="/scripts.js"></script>
    </body>
</html>